@model IEnumerable<Aladdin.Models.Customer>

@{
    Layout = "~/Views/Shared/_LayoutNOHEADERFOOTER.cshtml";
    ViewData["Title"] = "Index";
}

<h1>Customers list</h1>

@section Scripts
{
    <script>
    $('.Details').click(function () {
    var elmId = $(this).attr("id");
    getDetails(elmId);
        console.log("ASDASD");
    });

        $('.Edit').click(function () {
            var elmId = $(this).attr("id");
            getEdit(elmId);
            console.log("ASDASD");
        });

        $('.Delete').click(function () {
            var elmId = $(this).attr("id");
            getDelete(elmId);
            console.log("ASDASD");
        });


        $('.Create').click(function () {
            var elmId = $(this).attr("id");
            getCreate(elmId);
            console.log("ASDASD");
        });




        function getCreate(id) {
            $.get('/customers/Create', {}, function (data, status) {
                console.log("Inside the Async Call");
                console.log(status);
                console.log(data);
                //$('#getitem').html(data);
                $("#maindiv").html(data);
            })
        }

        function getDelete(id) {
            $.get('/customers/delete', { "id": id }, function (data, status) {
                console.log("Inside the Async Call");
                console.log(status);
                console.log(data);
                //$('#getitem').html(data);
                $("#maindiv").html(data);
            })
        }



        function getEdit(id) {
            $.get('/customers/edit', { "id": id }, function (data, status) {
                console.log("Inside the Async Call");
                console.log(status);
                console.log(data);
                //$('#getitem').html(data);
                $("#maindiv").html(data);
            })
        }

        function getDetails(id) {
            $.get('/customers/details', { "id": id }, function (data, status) {
                console.log("Inside the Async Call");
                console.log(status);
                console.log(data);
                //$('#getitem').html(data);
                $("#maindiv").html(data);
            })
        }
    </script>

}

<p>
    <button type="button" id="Create" class="Create btn btn-primary">Create</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerImage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CartID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerPassword)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerImage)
                </td>
                <td>
                    <button type="button" id="@item.CustomerID" class="Edit btn btn-primary">Edit</button> |
                    <button type="button" id="@item.CustomerID" class="Details btn btn-primary">Details</button> |
                    <button type="button" id="@item.CustomerID" class="Delete btn btn-primary">Delete</button> |
                </td>
            </tr>
        }
    </tbody>
</table>
