@model IEnumerable<Aladdin.Models.Product>

@{
    Layout = "~/Views/Shared/mylayout.cshtml";
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
<h1>Index</h1>





@section Scripts
{
    <script>
        $('.Details').click(function () {
            var elmId = $(this).attr("id");
            getDetails(elmId);
        });
        function getDetails(id) {
            $.get('/Products/details', { "id": id }, function (data, status) {
                console.log("Inside the Async Call");
                console.log(status);
                console.log(data);
                $('#getitem').html(data);
            })

        }


        $('#btn-filter').click(filter);
        function filter() {
            var Stringvalue = $('#name-search').val();
            var conceptName = $('#colors-search').find(":selected").text();
            var minValue = $('#min-search').val();
            var maxValue = $('#max-search').val();
            var rating = $('#rating-search').val();
            $.get('/Products/index', { searchColor: conceptName, searchString: Stringvalue, minValue: minValue, maxValue: maxValue, rating: rating }, function (data, status) {
                $('body').html(data);
            })
        }

        $('#btn-show').click(show);
        function show() {
            $.get('/Products/index', function (data, status) {
                $('body').html(data);
            })
        }
    </script>
}

<!--<form>-->
<!---  Name  -->
<!--Name:<input type="text" name="SearchString" id="name-search" />

<select class="custom-select" name="colors" id="colors-search">
    <option></option>-->
@*        @foreach (var item in Model)
    {
        <option value=@Html.DisplayNameFor(modelItem => item.ProductColor)>@Html.DisplayFor(modelItem => item.ProductColor)</option>
    }*@
<!--</select>-->
<!---  Rating  -->
<!--<select class="custom-select" name="rating" id="rating-search">
    <option></option>
    <option value=3>1+</option>
    <option value=3>2+</option>
    <option value=3>3+</option>
    <option value=4>4+</option>
</select>-->
<!---  Price  -->
<!--<span name="between-price">
        <select class="custom-select" name="rating" id="min-search">
            <option></option>
            <option value=100>100</option>
            <option value=200>200</option>
            <option value=300>300</option>
            <option value=400>400</option>
            <option value=500>500+</option>
        </select>
        <label class="form-label select-label">Min</label>
        -
        <select class="custom-select" name="rating" id="max-search">
            <option></option>
            <option value=100>100</option>
            <option value=200>200</option>
            <option value=300>300</option>
            <option value=400>400</option>
        </select>
        <label class="form-label select-label">Max</label>
    </span>

    <input type="button" value="Filter" id="btn-filter" />
    <input type="button" value="Show-All" id="btn-show" />
</form>-->

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Color
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @foreach (var item in Model)
                        {
                            <a class="dropdown-item" href="#" value=@Html.DisplayNameFor(modelItem => item.ProductColor)>@Html.DisplayFor(modelItem => item.ProductColor)</a>
                        }
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Rating
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Price
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0">
                        <label class="nav-link" for="price-min">Min Price:</label>
                        <input class="nav-link" type="range" name="price-min" id="price-min" value="200" min="0" max="1000">
                    </form>

                </li>
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0">
                        <label class="nav-link" for="price-max">Max Price:</label>
                        <input class="nav-link" type="range" name="price-max" id="price-max" value="800" min="0" max="1000">
                    </form>
                </li>

            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Price</a>
                        <a class="dropdown-item" href="#">New</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>




<div class="row row-cols-1 row-cols-md-4 g-4">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card product">
                <img src="/images/@Html.DisplayFor(modelItem => item.ProductImage)" width="20" height="160" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.ProductName)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.ProductPrice)₪</p>
                    <button type="button" class="btn btn-info Details" data-bs-toggle="modal" data-bs-target="#exampleModal" id="@item.ProductID">
                        View Details
                    </button>
                </div>
            </div>
        </div>
    }
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Aladdin's Hat Shop</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="getitem">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<script src="~/js/site.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>



