@model IEnumerable<Alladin.Models.Product>

@{
    ViewData["Title"] = "Index";

    var x = (List<int>)ViewData["AAA"];
}




@section Scripts
{
<script>
    $('#555').click(test);
    function test() {

        var Stringvalue = $('#444').val();
        var Sizevalue = $('#sizes').val().html;

        var conceptName = $('#sizes').find(":selected").text();
        console.log(conceptName);
        

        $.get('/Products/index', { searchSize: conceptName, searchString: Stringvalue }, function (data, status) {
        
        console.log("Inside the Async Call");
        console.log(status);

        console.log(data);
        //$.parseHTML(data);
        //$('.body').html(data);
        $('body').html(data);
        //console.log(data);
    })
    }
</script>

}

<h1>Index</h1>
<h2>@x[0]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Products" asp-action="Index">
    <p>
        Name of Product: <input type="text" name="SearchString" id="444" />

        <select name="sizes" id="sizes">
            @foreach (var item in x)
            {
                <option value=@Html.DisplayNameFor(e => item)>@Html.DisplayFor(a => item)</option>
            }
        </select>

        <input type="button" value="Filter" id="555" />
    </p>

 



</form>








<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="~/images/@item.ProductImage"
                     class="rounded-circle"
                     height="40" width="40"
                     asp-append-version="true" />
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
